.main{
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100px;
  width: 100%;
  position: absolute;
  top: 27px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 5px;
  background: #ffffff;
  z-index: 10;
  &::-webkit-scrollbar{
    width:4px;
    background-color: rgba(178, 178, 178, 0.32);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #b2b2b2;
    border-radius: 8px;
  }
  .product{
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 4px;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: #c2c2c2;
    }
    .productName{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .dot{
      transition: 0.3s;
      opacity: 0;
      min-width: 10px;
    }
    .showDot{
      opacity: 1;
    }
  }
}

@keyframes show {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}