.main{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100px;
  width: 100%;
  align-items: flex-start;
  position: absolute;
  top: 27px;
  background: #ffffff;
  span{
    padding-left: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    text-align: left;
  }
  span:hover {
    background: #c2c2c2;
  }
}
