.selectedItem{
  background: rgba(136, 210, 255, 0.5);
}
.main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 30px;
  transition: 0.3s;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    background: rgba(136, 210, 255, 0.24);
  }
  input{
    background: transparent;
    width: 100%;
  }
  .inputStatusBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      margin-left: 30px;
    }
  }
  .itemProduct{

  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .inputRow{
    text-overflow: ellipsis;
    &:disabled{
      cursor: not-allowed;
      opacity: 0.5;
    }
    border: none;
    border-bottom: transparent 2px solid;
    outline:none;
    transition: 0.3s;
  }
  .inputProductNameBlock{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .emptyField{
    border-bottom: black 2px solid;
  }
  .productImage{
    display: none;
  }
  .removeRowButton{
    cursor: pointer;
  }
}